.idea/
*.pyc
/data/spots/
/figures/output/
*.png
/data
/animations/output/
/animations/processed/
/figures/blender/
/figures/figure_1/
/figures/figure_2/
/figures/figure_3/
/figures/figure_4/
/figures/networks/
/figures/all_napari_movies/
